<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901269957932-1citijr3kjtlueh1qfar2jutnghhutuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901269957932-1citijr3kjtlueh1qfar2jutnghhutuu</string>
	<key>API_KEY</key>
	<string>AIzaSyDYYzoVAf-rc3zqV9c7OJpFdrHJAY9BWaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>901269957932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.walk-the-dogs</string>
	<key>PROJECT_ID</key>
	<string>walkingdogs-c1d87</string>
	<key>STORAGE_BUCKET</key>
	<string>walkingdogs-c1d87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901269957932:ios:be85352b315e8d8a0fd089</string>
</dict>
</plist>